:root {
  --white-color: 255 255 255;
  --blue-color: 50 128 159;
  --dark-color: 32 36 41;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

button {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background-color 0.3s, border 0.3s;
  background-color: rgb(var(--current-color));
}

button:hover {
  background-color: rgb(var(--current-color) / 90%);
}

.bg-blue {
  --current-color: var(--blue-color);
}

.bg-dark {
  --current-color: var(--dark-color);
}

.bg-white {
  --current-color: var(--white-color);
  color: #212529;
}

.heading {
  text-align: center;
  font-size: 1.5rem;
}

.heading span {
  text-transform: uppercase;
  color: rgb(236, 184, 7);
  font-weight: 700;
  font-size: 0.75em;
}
