:root {
  --section-padding: 100px;
}

/* header */
header {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
}

header span {
  position: relative;
  margin: 10px 10px 20px 0;
  width: 50px;
  height: 50px;
  padding-top: 12.5px;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  background-color: #29596b;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 998;
}

header span:hover {
  background-color: #29596b8f;
}

header .navbar {
  position: absolute;
  right: calc(-100% - 200px);
  top: 0;
  background-color: #32809f;
  color: #fff;
  height: 100vh;
  transition: right 0.5s;
}

header span[show] ~ .navbar {
  right: 0;
}

header .navbar h2 {
  width: max-content;
  background-color: rgb(46, 121, 151);
  padding: 20px 70px 20px 20px;
}

header .navbar ul {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

header .navbar ul li {
  padding: 10px 0 10px;
}

header .navbar ul li a {
  padding: 10px;
  padding-right: 100%;
  transition: opacity 0.3s, padding-left 0.3s;
}

header .navbar ul li a:hover {
  opacity: 0.8;
  padding-left: 15px;
}

@media (max-width: 767px) {
  header .navbar {
    width: 100vw;
    right: calc(-100% - 100vw);
  }
  header .navbar h2 {
    width: unset;
  }
}

/* hero/landing */
#hero {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg-masthead.jpg");
  background-size: cover;
  color: #212529;
  font-size: 1.5rem;
  gap: 1rem;
  text-align: center;
}

#hero button {
  font-size: initial;
}
/* about section */
#about {
  padding: var(--section-padding) 0;
  text-align: center;
  color: #212529;
  font-size: 1.25rem;
}

#about p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#about button {
  font-size: initial;
}

#about a {
  color: #1d809f;
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.3s;
}

#about a:hover {
  opacity: 1;
}
/* services section */
#services {
  padding: var(--section-padding) 0;
  background-color: #32809f;
  color: #fff;
}

#services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  margin-top: 50px;
  gap: 40px;
}

@media (max-width: 991px) {
  #services .content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

#services .content .box {
  text-align: center;
}

#services .content .box i {
  width: 96px;
  height: 96px;
  color: #1d809f;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  border-radius: 50%;
  margin: 0 auto;
}

#services .content .box h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* download section */
#download {
  padding: calc(var(--section-padding) * 1.5) 0;
  background: url("../img/bg-callout.jpg");
  background-size: cover;
  text-align: center;
  color: #212529;
  font-size: 1.5rem;
}

#download button {
  font-size: initial;
  margin-top: 1.5rem;
}
/* portfolio section */
#portfolio {
  padding: var(--section-padding) 0;
  color: #fff;
}

#portfolio .heading {
  color: #212529;
}

#portfolio .content {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: calc(var(--section-padding) * 0.5);
}

@media (max-width: 767px) {
  #portfolio .content {
    grid-template-columns: auto;
  }
}

#portfolio .content .box {
  position: relative;
  background-size: cover;
  height: 350px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.3s;
}

#portfolio .content .box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  opacity: 0.3;
  transition: transform 0.3s;
}

#portfolio .content .box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

#portfolio .content .box h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

#portfolio .content .box h3,
#portfolio .content .box p {
  z-index: 1;
  transition: transform 0.3s;
}

#portfolio .content .box:hover img,
#portfolio .content .box:hover::after,
#portfolio .content .box:hover h3,
#portfolio .content .box:hover p {
  transform: scale(0.9);
}
/* contact section */
#contact {
  padding: var(--section-padding) 0 0;
  background-color: #32809f;
  color: #fff;
  font-size: 1.2rem;
}

#contact .content {
  text-align: center;
  margin-bottom: 20px;
}

#contact .content .buttons {
  margin-top: 20px;
}

#contact .map iframe {
  vertical-align: bottom;
}
